.clearfix::after {
    content: "";
    display: block;
    clear: both;
    }

body {
    background-image: url("../images/backdrop.jpg");
}

.clickableUnits {
    display: block;
    border: 3px solid cyan;
    width: 150px;
    float: left;
    background: black;
    color: yellowgreen;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin: 5px;
}

.playerSelected {
    border-color: lightgreen;
}

.enemyUnits {
    border-color: red;
}

.fightButton {
    padding: 10px 50px;
    background-color: red;
    color: white;
    margin-left: 20px;
    text-align: center;
    font-weight: bolder;
}

img {
    width: 100%;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

#instructions {
    color: orange;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    background-color: black;
    width: 17%;
}